.header {
  width: 100%;
  height: auto;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;

  transition: all 0.3s ease-in-out 0s;

  @keyframes pulse {
    0% {
      position: fixed;
      opacity: 1;
    }

    100% {
      position: absolute;
      opacity: 1;
      transition: all 0.4s ease;
    }
  }
}

.headerActive {
  width: 100%;
  height: auto;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background);
  box-shadow: 0 6px 13px rgba(38, 78, 118, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease-in-out 0s;

  @keyframes pulse {
    0% {
      position: fixed;
      opacity: 1;
    }

    100% {
      position: absolute;
      opacity: 1;
      transition: all 0.4s ease;
    }
  }
}

.container {
  width: 100%;
  max-width: 1120px;
  // margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  // border: 1px solid yellow;
}
