.footer {
  background-color: #333333;
  position: relative;
}

.mainFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem 0 2.5rem;
}

.p {
  width: auto;
  text-align: center;
  padding: 15px 0 20px;
  color: whitesmoke;
  border-top: 1px solid rgb(131, 131, 131);

  p {
    font: 200 1rem "Montserrat";
  }

  span {
    color: var(--blue);
  }
}

.socialIcons {
  margin-top: 2rem;
  a {
    color: whitesmoke;
    margin-right: 1rem;
  }
}
