.container{
  margin-top: 0.5rem;;
   
  a{
   display: inline-block;
   position: relative;
   padding: 0 0.5rem;
   cursor: pointer;
   font: 700 1.125rem  'Montserrat';
   color: var(--text-title);

   transition: color 0.2s;

   & + a {
      margin-left: 1rem;
    }

   &:hover{
      color:var(--blue);
      transform: scale(1.02);
   }
  }
  
}
