.container {
  display: flex;
  align-items: center;

  li {
    text-decoration: none;
  }

  a {
    position: relative;
    padding: 0 0.75rem;
    cursor: pointer;
    font: 700 1.125rem "Montserrat";
    line-height: 1.2;
    color: var(--text-title);

    transition: color 0.4s;

    & + a {
      margin-left: 0.75rem;
    }

    &:hover {
      transition: color 0.4s;
      color: var(--blue);
    }

    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 960px) {
  .nav {
    display: none;
  }
}
