.container {
  max-width: auto;
  margin-top: 0.5rem;

  @media (max-width: 990px) {
    display: none;
  }

  a {
    position: relative;
    padding: 0 0.75rem;
    cursor: pointer;
    font: 700 1.125rem "Montserrat";
    line-height: 1.2;
    color: var(--text-title);

    transition: all 0.2s;

    & + a {
      margin-left: 1rem;
    }

    &:hover {
      transform: scale(1.8);
      color: var(--blue);
    }
  }
}
