.container {
  display: flex;
  border: 1px solid blue;
}

.figure {
  min-width: 4.375rem;
  margin-right: 1.875rem;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.28;
  color: var(--text-title);
  margin-bottom: 1.25rem;
}

.p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.88;
  color: var(--text);
}
